* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Header */

.header {
  background-color: #445161;
  color: white;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header_wrapper {
  display: flex;
}

.header_box {
  padding-top: 90px;
  padding-left: 90px;
}

.header-title {
  font-size: 60px;
}

.header_text {
  font-size: 20px;
}

/* main */

main {
  color: #2b333c;
}

/* section Objective */

.objective_heading {
  padding-top: 60px;
}

.objective_text {
  padding-top: 30px;
}

.objective_content {
  padding-top: 15px;
}

/* section experience */

.experience_heading {
  padding-top: 70px;
}

.experience_wrapper {
  display: flex;
  padding-top: 20px;
  padding-bottom: 15px;
}

.experience_title_webref {
  padding-left: 16px;
}

.experience_title_times {
  padding-left: 16px;
}

.experience_text {
  padding-right: 90px;
}

.experience_content {
  padding-left: 175px;
}

.experience_title {
  font-size: 18px;
}

.scills_heading {
  padding-top: 60px;
}

.scills_text {
  padding-top: 25px;
}

/* section language */

.language_heading {
  padding-top: 60px;
}

.language_list {
  padding-top: 10px;
}

.language_item {
  list-style-type: none;
}

.language_item::before {
  content: "\25A0";
  font-weight: bold;
  width: 1em;
  color: rgb(229, 213, 213);
  display: inline-block;
}

.language_wpapper {
  padding-bottom: 35px;
}

/* section form */

.form_wpapper {
  padding-top: 35px;
  padding-bottom: 35px;
}

.form_heading {
  text-align: center;
  padding-bottom: 20px;
}

.form_info {
  display: flex;
  justify-content: center;
}

.name {
  margin-right: 30px;
}

.form,
.form_input,
.form_text {
  background-color: rgb(229, 213, 213);
}

.form_input,
.form_text {
  border: none;
  border-bottom: solid 1px #3f313e;
}

.form_input {
  width: 400px;
  font-size: 20px;
}

.form_text {
  resize: none;
  width: 830px;
  height: 30px;
  margin-left: 170px;
  padding-top: 10px;
}

.form_btn {
  width: 130px;
  height: 35px;
  background-color: #445161;
  color: white;
  border-radius: 3px;
  border: none;
  margin-top: 20px;
}

.form_btn:hover {
  color: rgb(29, 30, 32);
  font-weight: 700;
  background-color: rgb(158, 143, 143);
}

.btn {
  text-align: center;
}

/* footer */

.contacts_heading {
  text-align: center;
  padding-top: 10px;
}

.contacts {
  background-color: #445161;
  color: white;
}

.contacts_link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.contacts_link:hover {
  color: rgb(124, 111, 150);
  font-weight: 600;
}

.contacts_list {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 30px;
}

.contacts_item {
  list-style-type: none;
}

.text_footer {
  font-size: 12px;
  text-align: center;
  color: #869bb4;
  padding-bottom: 20px;
}
